@import"../scss/Partials/ResponsiCelular";
@import"../scss/Partials/cardBurguer";
@import"../scss/Partials/infoBurguer";
@import"../scss/Partials/quienessomos";
@import"../scss/Partials/HeaderFooter";
@import"../scss/Partials/modopago";

.LOGO{
    border-radius: 50%;
    margin: 10px;
    height: 100px;
}
html, body {
    height: 100%;
    margin: 0; 
}

body {
    display: flex; 
    flex-direction: column; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

main {
    flex: 1; 
}

.descuento {
    height: 400px;
    margin: 10px;
    display: flex;

    .image-item {
        border-radius: 50px;
        margin: 25px;
        margin-top: 10px;
    }
}